<% if (site.posts.length) { %>
    <div class="widget-wrap widget-list">
        <h3 class="widget-title">
            <%= __('widget.open_source') %>
        </h3>
        <div class="widget">
            <ul>
                <% for (var i in theme.miscellaneous.open_source_links) { %>
                    <li>
                        <a href="<%- theme.miscellaneous.open_source_links[i] %>">
                            <%= i %>
                        </a>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>
    <% } %>